* {
  font-family: "Kalam", cursive;
}

body {
  background-color: white;
}

.page2-head {
  margin: 50px 0 50px 0;
}
.inner {
  max-width: 320px;
}

a:link {
  text-decoration: none !important;
}

img {
  height: 240px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
}
